/* body {
    
  } */
  
  
#stage {
  background-image: url('../img/background.jpg');
  background-size: 1340px 630px;
  height: 630px;
  width: 1340px;
  margin: 0px;
}


.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#knight {
    position: absolute;
    bottom: 35px;
    left: 10px;
    height: 80px;
    width: 80px;
    background: url(../img/knight\ 3\ idle_big.png) 0px 0px;
    
}

